---
import Layout from '../layouts/Layout.astro';

import SearchComponent from '../components/Search.astro';
---

<Layout title="Search" description="Search anywhere" thumbnail="" noindex="true">
  <div class="max-w-4xl mx-auto px-4 py-8">
    <SearchComponent />
  </div>
</Layout>
