---
import { ArrowRight, ArrowLeft } from 'lucide-react';

const { page } = Astro.props;
---

<div class="flex justify-center my-8">
    <nav class="flex gap-4">
        {page.url.prev && <a href={page.url.prev} class="px-4 py-2 text-gray-800  hover:text-[#D4873B] transition-colors"><ArrowLeft /></a>}
        {page.url.next && <a href={page.url.next} class="px-4 py-2 text-gray-800  hover:text-[#D4873B] transition-colors"><ArrowRight /></a>}
    </nav>
</div>
